#!/bin/bash
# {{ template "scripts-library.sh" }}

if ! command -v op &> /dev/null; then
    log_task "1Password: install CLI"
    sudo -s \
        curl -sS https://downloads.1password.com/linux/keys/1password.asc |
        sudo gpg --batch --yes --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" |
        sudo tee /etc/apt/sources.list.d/1password.list
    sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/
    curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol |
        sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol
    sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
    curl -sS https://downloads.1password.com/linux/keys/1password.asc |
        sudo gpg --batch --yes --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg
    sudo apt -y update && sudo apt -y install 1password-cli

    log_task "1Password: clean sources"
    sudo rm -f /etc/apt/sources.list.d/1password.list

    if ! command -v op &> /dev/null; then
        log_error "1Password: CLI not installed"
    fi
fi

log_manual_action "1Password: add account"
if [ -z "$(op account list | grep -v SHORTHAND)" ]; then
    SUBDOMAIN="my"
    read -rp "Enter your 1Password email: " EMAIL
    op account add --address $SUBDOMAIN.1password.com --email "$EMAIL"
fi