#!/bin/bash
# {{ template "scripts-library.sh" }}

log_task "APT: Install basic tools"

if [ -f /etc/apt/sources.list.d/ubuntu.sources ]; then
    sudo sed -i 's/http:/https:/g' /etc/apt/sources.list.d/ubuntu.sources
    sudo sed -i 's@//.*archive.ubuntu.com@//mirrors.ustc.edu.cn@g' /etc/apt/sources.list.d/ubuntu.sources
    sudo sed -i 's/security.ubuntu.com/mirrors.ustc.edu.cn/g' /etc/apt/sources.list.d/ubuntu.sources
fi
if [ -z "$(grep archive.ubuntu.com /etc/apt/sources.list)" ]; then
    sudo sed -i 's/http:/https:/g' /etc/apt/sources.list
    sudo sed -i 's@//.*archive.ubuntu.com@//mirrors.ustc.edu.cn@g' /etc/apt/sources.list
    sudo sed -i 's/security.ubuntu.com/mirrors.ustc.edu.cn/g' /etc/apt/sources.list
fi
sudo apt-get update -y
sudo apt-get install -y bash git curl gpg

if ! command -v brew &>/dev/null; then
    log_task "Brew: Install self"
    # export homebrew mirror
    export HOMEBREW_INSTALL_FROM_API=1
    export HOMEBREW_API_DOMAIN="https://mirrors.tuna.tsinghua.edu.cn/homebrew-bottles/api"
    export HOMEBREW_BOTTLE_DOMAIN="https://mirrors.tuna.tsinghua.edu.cn/homebrew-bottles"
    export HOMEBREW_BREW_GIT_REMOTE="https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/brew.git"
    export HOMEBREW_CORE_GIT_REMOTE="https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/homebrew-core.git"

    c git clone --depth=1 https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/install.git brew-install
    c env CI=1 /bin/bash brew-install/install.sh
    c rm -rf brew-install
fi