{{- if eq .chezmoi.os "windows" }}
{{- $os := "windows" -}}
{{- else }}
{{- $os := "linux" -}}
{{- end }}

{{- $key_recipient = "4009CCB16D81F799" -}}

{{- $choices := list "h0" "w1" "w2" -}}
{{- $avatar := promptString "Choose your avatar" $choices -}}

sourceDir: {{- joinPath .chezmoi.sourceDir {{ $os | quote }} -}}
encryption = "gpg"
[gpg]
  recipient = "{{ $key_recipient }}"

[data]
    os = {{- $os | quote -}}
    avatar = {{- $avatar | quote -}}
    [date.user]
        name = {{- pass {{ cat $avatar "/git_name" }} -}}
        email = {{- pass {{ cat $avatar "/git_email" }} -}}
        gpg_id = {{- pass {{ cat $avatar "/git_gpg_id" }} -}}
