[user]
    name       = "{{ .user.name }}"
    email      = "{{ .user.email }}"
    {{- if eq $avatar "h0" }}
    signingkey = "{{ .user.gpg_id }}"
    {{- end }}

[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[credential "https://gitea.com"]
    provider = generic

[core]
    pager = less -FRSX
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED