{{- if ne .chezmoi.os "windows" }}
#!/usr/bin/env bash
set -eufo pipefail

source $HOME/.config/shell/exports.sh

# {{ includeTemplate "universal/next-update" . }}

{{- $compDir:= joinPath .chezmoi.homeDir ".config/zsh/completions" -}}

if [ "$(command -v bw)" ]; then
  bw completion --shell zsh > "{{ $compDir }}/_bw"
fi

if [ "$(command -v cht.sh)" ]; then
 cht.sh :zsh > "{{ $compDir }}/_cht"
fi

{{- end }}