#!/bin/bash

# {{ template "scripts-library.sh" }}

log_task "Entering Post-Staff"

readonly home_homebrew_prefix="${HOME}/.linuxbrew"
readonly root_homebrew_prefix="/home/linuxbrew/.linuxbrew"

ensure_path_entry "${home_homebrew_prefix}/bin" "${root_homebrew_prefix}/bin"

shell_path="$(which zsh)"
user=$(whoami)
if [ "$SHELL" != "$shell_path" ]; then
  log_task "Changing default shell to zsh"
	if grep -q "$shell_path" /etc/shells; then
		sudo echo "$shell_path" | sudo tee -a /etc/shells
	fi
	sudo chsh -s "$shell_path" "$user"
else
	log_info "${user}'s shell is already changed."
fi